/* Rating */
.ratingStar {
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    font-size: 0pt;
    height: 12px;
    margin: 0px;
    padding: 0px;
    width: 13px;
}

.filledRatingStar { background-image: url(../Images/FilledStar.png); }

.emptyRatingStar { background-image: url(../Images/EmptyStar.png); }

.savedRatingStar { background-image: url(../Images/SavedStar.png); }