.titletext {
    color: #3b3b3b;
    font-family: 'Times New Roman';
    font-size: 40px;
    font-weight: bold;
}

.titleshadowback {
    -moz-box-shadow: 0px 0px 14px 1px rgba(173, 171, 173, 0.77);
    -webkit-box-shadow: 0px 0px 14px 1px rgba(173, 171, 173, 0.77);
    background-color: #fff;
    border: 1px solid #d3d3d3;
    box-shadow: 0px 0px 14px 1px rgba(173, 171, 173, 0.77);
    padding: 5px 15px 10px 15px;
}

.fa1 {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

.badgecolorPa { background: #3ae3f5 !important; }

.badgecolorOp { background: #15c267 !important; }

.badgecolorRe { background: #bfc31d !important; }

.badgecolorMe { background: #ff6d6d !important; }

.badgecolorDc { background: #15c267 !important; }

.badgecolorTe { background: #00d5d5 !important; }

.badgecolorFi { background: #ff2971 !important; }

.badgecolorQ { background: #9088ed !important; }

.badgecolorF { background: #ef600c !important; }

.badgecolorIn { background: #ef600c !important; }

.badgecolorSc { background: #2f63a5 !important; }

.badgecolorSe { background: #484444 !important; }


.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a:hover { background-color: #30bbbb !important; }

.skin-blue .main-header .logo { background-color: #30bbbb !important; }

.skin-blue .main-header .navbar .sidebar-toggle:hover { background-color: #30bbbb !important; }

.skin-blue .main-header li.user-header { background-color: #30bbbb !important; }




.btn-app {
    -moz-box-shadow: 0px 0px 5px 1px rgba(218, 218, 218, 0.77);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(218, 218, 218, 0.77);
    background-color: #fff;
    border: 1px solid #ddd;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 1px rgba(218, 218, 218, 0.77);
    color: #666;
    font-size: 14px;
    height: 60px !important;
    margin: 0 0 10px 10px;
    min-width: 65px !important;
    padding: 7px 5px;
    position: relative;
    text-align: center;
}

.widget-user-2 .widget-user-header {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 3px 10px 0px 0px !important;
}

.btn-app > .badge {
    font-size: 12px !important;
    font-weight: 400;
    position: absolute;
    right: -10px;
    top: -3px;
}

.btn-app > .fa, .btn-app > .glyphicon, .btn-app > .ion {
    display: block;
    font-size: 25px !important;
}

.webpageimage img {
    height: 100%;
    width: 100%;
}

.content-header {
    padding: 0px;
    position: relative;
}

.box {
    background: #ffffff;
    border-radius: 3px;
    border-top: 3px solid #d2d6de;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    position: relative;
    width: 100%;
}

.bg-gray-light {
    background: rgba(69, 224, 224, 1);
    background: -moz-linear-gradient(top, rgba(69, 224, 224, 1) 0%, rgba(48, 187, 187, 1) 50%, rgba(23, 163, 163, 1) 51%, rgba(61, 209, 209, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(69, 224, 224, 1)), color-stop(50%, rgba(48, 187, 187, 1)), color-stop(51%, rgba(23, 163, 163, 1)), color-stop(100%, rgba(61, 209, 209, 1)));
    background: -webkit-linear-gradient(top, rgba(69, 224, 224, 1) 0%, rgba(48, 187, 187, 1) 50%, rgba(23, 163, 163, 1) 51%, rgba(61, 209, 209, 1) 100%);
    background: -o-linear-gradient(top, rgba(69, 224, 224, 1) 0%, rgba(48, 187, 187, 1) 50%, rgba(23, 163, 163, 1) 51%, rgba(61, 209, 209, 1) 100%);
    background: -ms-linear-gradient(top, rgba(69, 224, 224, 1) 0%, rgba(48, 187, 187, 1) 50%, rgba(23, 163, 163, 1) 51%, rgba(61, 209, 209, 1) 100%);
    background: linear-gradient(to bottom, rgba(69, 224, 224, 1) 0%, rgba(48, 187, 187, 1) 50%, rgba(23, 163, 163, 1) 51%, rgba(61, 209, 209, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45e0e0', endColorstr='#3dd1d1', GradientType=0);
}

/*.btn-default1 {
            background-color: #484444;
            color: #fbfbfb;
            border-color: #ddd;
        }*/

.modal-dialog {
    margin: 30px auto;
    width: 700px;
}

.btnedit { padding: 5px !important; }

/*.btn default2
        {
            background-color:#30bbbb;
            border-color:#30bbbb;

        }*/

.nav-tabs-custom > .nav-tabs > li.active { border-top-color: #3ae3f5 !important; }



.sidebar-menu > li > a {
    display: block;
    padding: 12px 5px 12px 15px;
}

.user-panel > .image > img {
    height: auto;
    margin-bottom: 10px;
    max-width: 45px;
    width: 100%;
}

.content {
    margin-left: auto;
    margin-right: auto;
    min-height: 250px;
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.content-header {
    padding: 15px 25px 0 15px;
    position: relative;
}