<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<connectionStrings>
    -->
  <!--<add name="daypilot" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\daypilot.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  <!--

    <add name="daypilot" connectionString="Data Source=dicatalyst.db.10501631.hostedresource.com; Initial Catalog=dicatalyst; User ID=dicatalyst; Password='J@isriram123'" providerName="System.Data.SqlClient"/>
  
    
  </connectionStrings>-->
  <appSettings>
    <add key="GoogleAPIKey" value="AIzaSyAr8PJdluwfpHD9Hhkd4mB2Jr0xlR1ovME"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="daypilot" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\daypilot.mdf;User Instance=true" providerName="System.Data.SqlClient"/>-->

    <add name="dicatalyst" connectionString="Data Source=43.255.152.21; Initial Catalog=dicatalystnew_; User ID=dicatalyst; Password='India@206$'" providerName="System.Data.SqlClient"/> 
    <!--<add name="dicatalyst" connectionString="Data Source=.; Initial Catalog=dicatalyst; Integrated Security=True;" providerName="System.Data.SqlClient"/>-->
    <!--   <add name="daypilot" connectionString="Data Source=THECSS;Initial Catalog=daypilot;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="daypilotConnectionString" connectionString="Data Source=THECSS;Initial Catalog=daypilot;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="daypilot" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\daypilot.mdf;Integrated Security=True;User Instance=False" providerName="System.Data.SqlClient"/>-->
    <!--<add name="dicatalyst" connectionString="Data Source=dicatalyst.db.10501631.hostedresource.com; Initial Catalog=dicatalyst; User ID=dicatalyst; Password='J@isriram123'" providerName="System.Data.SqlClient"/>-->
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;IMEX=1;HDR=YES;TypeGuessRows=0;ImportMixedTypes=Text'"/>
    <add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;IMEX=1;HDR=YES;TypeGuessRows=0;ImportMixedTypes=Text'"/>
  </connectionStrings>
  <system.web>
    <sessionState timeout="360"></sessionState> 
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
        <add tagPrefix="map" namespace="GoogleMaps" assembly="GoogleMaps"/>
        <add tagPrefix="map" namespace="GoogleMaps.Markers" assembly="GoogleMaps"/>
        <add tagPrefix="map" namespace="GoogleMaps.Directions" assembly="GoogleMaps"/>
        <add tagPrefix="map" namespace="GoogleMaps.Overlays" assembly="GoogleMaps"/>
        <add tagPrefix="map" namespace="GoogleMaps.Polylines" assembly="GoogleMaps"/>
        <add tagPrefix="map" namespace="GoogleMaps.Drawing" assembly="GoogleMaps"/>
      </controls>
    </pages>
    <customErrors defaultRedirect="Error.aspx" mode="On"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
    </modules>
  </system.webServer>
</configuration>