body, td, p {
    font-family: Tahoma, Arial, Sans-serif;
    font-size: 10pt;
}

.header {
    font-size: 14pt;
    font-weight: bold;
}

.dialog { }

.dialog form { margin: 0px; }

.message_info {
    /*background-color: #dc143c; */
    background-color: Green;
    color: White;
}

.message_warn {
    background-color: #dc143c;
    color: White;
}